<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content='width=device-width, initial-scale=1.0'>
    <meta name="theme-color" content="#15141f">
    <link rel="icon" href="favicon.png">
    <link rel="apple-touch-icon" href="/icons/192x192.png">
    <title>Restaurant Apps Starter Project</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <a href="#main-content" class="skip-content">Skip to Content!</a>
    <div id="loading" class="loading__wrapper">
        <div class="loading__card">
            <div id="loading-icon"></div>
            <h4>Loading</h4>
        </div>
    </div>
    <header>
        <app-header class="open"></app-header>
    </header>
    <nav>
        <nav-bar></nav-bar>
    </nav>
    <app-hero></app-hero>
    <main id="main-content">
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>
</html>
